@use "../abstracts/variables" as *;

.aside {
  height: 46rem;
  padding: 11rem 6rem;

  &__img {
    width: 45%;
  }

  &__text {
    flex-basis: 45%;
    margin: 0 3.5rem -4.2rem 0;
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 700;
    padding: 0 2em 0.5em 0;
  }

  &__info {
    font-size: 1.1rem;
    padding-bottom: 1em;

    &:nth-child(3) {
      padding-bottom: 1.5em;
    }
  }

  &__link {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      z-index: 1;
      top: 1.6rem;
      left: 0;
      width: 11.5rem;
      height: 1px;
      background-color: $accent-color-1;
    }

    &:hover {
      .link__text {
        color: $neutral-color;
      }

      &::after {
        background-color: $neutral-color;
      }
    }

    .link__text {
      font-size: 1.1rem;
      color: $accent-color-1;
      display: inline;
    }

    .link__img {
      margin: 0 0 -3px 8px;
    }
  }
}
